:root {
    --highlight-1: #ffefcf;
    --highlight-2: #d0d7f0;
    --text-special: #754F44;
    --text: #073B4C;
    --accent: #EC7357;
}

body {
    background-color: var(--highlight-1);
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-box {
    background-color: white;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 25px;
}

.body-pad {
    padding: 25px 100px;
}

h1 {
    color: var(--text);
    background-color: var(--highlight-2);
    text-align: center;
    border-radius: 25px;
    font-family: Tourney;
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    margin: 0px;
}

h3 {
    /* flex: 1; */
    width: 150px;
    padding: 10px;
    background-color: var(--highlight-2);
    border-radius: 25px;
    margin: 0px;
    text-align: center;
    font-weight: 100;
}

a {
    color: var(--text-special);
}

h3:hover {
    background-color: var(--accent);
    box-shadow: 5px 5px var(--highlight-1);
}

h3:hover > a {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}

.current > a {
    text-decoration: none;
    font-weight: bold;
}

.current:hover > a {
    visibility: hidden;
    font-size: 0px;
}

.current:hover:after {
    visibility: visible;
    position: relative;
    content: "You are here!";
    text-decoration: none;
    font-weight: bold;
    color: white;
}

h2, h3 {
    font-family: "Secular One";
    font-weight: 600;
}

h2 {
    font-size: 25px;
}

strong, em {
    color: var(--accent);
}

ul {
    list-style-type: square;
}

img {
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}

#project {
    display: inline;
    float: left;
    margin-right: 25px;
}

.header {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.8);;
}

h2:first-of-type {
    margin-top: 10px;
}